body {
    font-family: sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}


.card__header {
    background: green;
    height: 80px;
}

.card__body {
    padding: 20px;
    text-align: center;
}

.skills {
    list-style: none;
    margin-top: 15px;
    padding: 0;
}

